<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<head th:fragment="default">
    <title>Metas</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12 align-middle">
				<h4 class="h4-responsive customH4Adm text-center">Identificação</h4>
			</div>
		</div>
		<div class="row">
		<form class="form-inline">
			<div class="form-group">
				<label for="matricula" title="Matricula">
					Matrícula:
				</label>
				<input type="number" min="0" id="matricula" class="form-control text-uppercase" />
			</div>
			<div class="form-group">
				<label for="nome" title="Nome">
					Nome:
				</label>
				<input type="text" id="nome" maxlength="30" class="form-control text-uppercase" />
			</div>
			<div class="form-group">
				<label for="cargo" title="cargo">
					Cargo:
				</label>
				<select id="cargo" class="form-control">
								<option value=""></option>
								<option value="admin">Administrador</option>
								<option value="clean">Aux. de Serviços Gerais</option>
								<option value="cons">Consultor</option>
								<option value="eng">Engenheiro</option>
								<option value="operador">Op. de Máquinas</option>
								<option value="rh">Recrutadora</option>
								<option value="others">Outros</option>
				</select>
			</div>
			<div class="form-group">
				<label for="cargo" title="diretoria">
					Diretoria:
				</label>
				<select id="cargo" class="form-control" disabled="disabled">
								<option value=""></option>
								<option value="admin">Administração</option>
								<option value="eng">Engenharia</option>
								<option value="clean">Limpeza</option>
								<option value="rh">RH</option>
								<option value="sales">Vendas</option>
								<option value="others">Outros</option>
				</select>
			</div>
			</form>
		</div>
		<div class="row">
			<div class="col-md-12 align-middle">
				<h4 class="h4-responsive customH4Adm text-center">Meta Geral da Companhia [GATILHO] e Pesos Para Cálculo de Bônus</h4>
			</div>
		</div>
	</div>
</body>
</html>
